#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

#container img{
    flex-shrink: 0;
    max-height: 100%;
    max-width: 100%
}

#header {
    background-image: url("./HeaderBG.png");
    background-size: cover;
    width: 100%;
    height: 15%;
    padding-left: 150px;
    left: 0px;
    margin: 0;
    box-sizing: border-box;
}

#title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: white;
}