.burger-implementation {
    text-align: center;
    height: 100%;
    position: fixed;
    z-index: 99;
    /*
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    */
}

.sidebar-container {
    flex-direction: row;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.menu-button-container {
    
    background-color: green;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.menuIcon {
    width: 35px;
    height: 35px;

}

.menu-items {
    display: flex;
    flex-direction: row;
    position: fixed !important;
    top: 20px;
    left: 10px;
    height: 40px;
}

.link-element {
    text-decoration: none;
    background-color: green;
    height: 100%;
}

.link-text {
    padding: 0;
    margin: 0;
    color: white;
    margin: auto auto;
}

.link-container {
    background-color: green;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    height: 100%;
    display: flex;
}

.link-text:visited {
    text-decoration: none;
    color: white;
}