.burger-implementation {
    text-align: center;
    height: 100%;
    position: fixed;
    /*
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    */
}

.sidebar-container {
    flex-direction: row;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.menu-button-container {
    
    background-color: aqua;
}

.menuIcon {
    width: 40px;
    height: 40px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    position: fixed !important;
    top: 20px;
    left: 20px;
    height: 40px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0;
}

.link:visited {
    text-decoration: none;
    color: white;
}