@font-face {
    font-family: 'Crudex';
    src: url('./fonts/Crudex.otf');
  }

.button {
    border-radius: 50%;
}

.button-label {
    font-family: 'Crudex';
    rotate: 4deg;
    font-size: 30px;
    padding: 10px;
}

.section-grid{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.section-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    padding-bottom: 20px;
}

.section-info-container h1 {
    margin: 10px;
}

.section-info {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.section-details {
    display: flex;
    flex-direction: column;
}

.border-line {
    min-height: 40px;
    border-left: solid 1px;
    max-width: 1px !important;
}

.section-grid-item {
    width: 80%;
    max-height: 80vh;
    box-sizing: border-box;
    flex: 1 1 100%;
    min-height: 0;
    min-width: 0;
    display: flex;
}

.header-image-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 80%;
    margin: 0 auto;
    min-width: 0;
    max-height: 100%;
}

.portrait {
    height: 100%;
    max-width: 30%;
    min-width:29%;
    object-fit: contain;
    border-radius: 20px;
}

.collage {
    max-width: 100%;
    min-width: 100% ;
}

.portrait-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 80%;
    
    gap: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: top;
    margin: 0 auto;
    margin-top: 40px;
}

header{
    width: 100%;
    max-height: 100vh;
    height: 100vh;
}

.button-and-arrow {
    display: flex;
    flex-direction: row;
    align-items: top;
    min-width: 0;
    max-height: 100%;
}

.button-and-arrow img {
    min-width: 40%;
    min-height: 0;
    flex: 1
}


.section-container {
    margin-bottom: 40px;
}

@media (max-width: 500px) {
    
    .section-info-container {
        
    }
}

@media (min-width: 1024px) {
    .section-info-container {
        width: 50%
    }
}