
/*This container divides the page to 2 horizontal sections,
the left one being the sidebar, right one holding everything else,
including floating header and footer*/

.toplevel-container{
    display: flex;
    flex-direction: row;
    overflow-x: clip;
}

.page-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    padding: 60px;
}

/* This is to give the element the 
some properties of a button*/ 
.div-button {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header {
    overflow-x: hidden;
}

.header-content{
    overflow-x: hidden;
}

header{
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

body {
    color: #fafafa;
    background-color: #002133;
}

