
/* This is to give an element the 
some properties of a button*/ 
.div-button {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 100%;
}

body {
    color: #fafafa;
    background-color: #002133;
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
    h1 {
        font-size: 24px;
    }
}
